# Copy this and rename to .env with the appropriate credentials shared to you
# NEVER push credentials on git

DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_URL=

MAIL_ENABLED=false
MAIL_FROM=pfe.athlets@etsmtl.ca

AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=